.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(68, 68, 68);
}

.nfl_logo{
  width: 125px;
  height: 175px;
}

.home_header {
  margin-top: 50px;
}

.container {
}

h1 {
  font-size: 50pt;
  color: white;
}

.home_body {
  background-color: rgb(230 230 230);
}

#headers {
  background-color: rgb(175 30 36);
}

#test {
  border: 2px black solid;
}

#sports {
  height: 250px;
  width: 350px;
}

.figure-caption {
  font-size: 8pt ;
}

.home_title {
  text-align: center;
  text-decoration: underline;
}

#addrow {
  background-color: blue;
  color: white;
}

.sports_title {
  text-align: center;
}

.info_p {
  font-size: 14pt;
}
